@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap');

.font-inter{
  font-family: "Inter", sans-serif;
}
.hero-banner{
  background-image: url(../Assests/banner-image.png) !important;
  height: 580px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.gaming-console{
  background-image: url(../Assests/GamingConsoleImage.png);
}

.tab-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: #F9FF8A;
  border-radius: 1.75em;
  padding: 3px;
}
.tab-buttons-mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: #F9FF8A;
  border-radius: 1.75em;
  padding: 3px;
  width: 70%;
  margin: 0px auto;
}
.tab-btn:hover{
  border-radius: 1.75em;
  background-color: #A57BFF;
  color: #ffff;
}
.tab-btn button{
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding: 0.75rem 1rem;
  font-family: "Inter", sans-serif;

}
.tab-btn-mobile button{
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding: 0.75rem 1rem;
  font-family: "Inter", sans-serif;
}
.tab-btn-mobile button:hover{
  border-radius: 1.75em;
  background-color: #A57BFF;
  color: #ffff;
}
.border-tabs{
  border: 1px solid #dddfaf;
  height: 25px;
}
.mobile-menu{
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #ffff;
  width: 100%;
  top: 59px;
  left: 0px;
  padding: 20px 0px;
  border-bottom: 1px solid #000;
}

.navlinks{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.navlinks-mobile{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navlinks-mobile li{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 16px;
  font-size: 14px;
  cursor: pointer;
  color: #3C3C43;
}
.navlinks li{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 16px;
  font-size: 14px;
  cursor: pointer;
  color: #3C3C43;
}
.navlinks li:hover{
  color: #000000;
}
.order-button{
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  background: #80FFAB;
  border-radius: 12px;
}
.order-button:hover {
   color: #80FFAB;
   border: 1px solid #80FFAB;
   background-color: #fff;
   transition: all 0.5s;
}
.menu-toggle{
  display: none;
}

.navbar{
  padding: 5px 1rem;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: gray !important;
}
.react-calendar__navigation{
  margin-bottom: 15px;
}
.react-calendar__tile--active abbr {
  background: #a57bff;
  color: #ffffff;
  border-radius: 60px;
  padding:2px;
}
.react-calendar__tile{
  font-size:12px;
}
.react-calendar__month-view__days{
  gap: 6px;
}

.react-calendar__tile abbr:hover {
  border:1px solid #a57bff; 
  border-radius: 60px;
}
@media screen and (max-width:580px) {
.hero-banner{
  height: 200px;
  border-radius: 1rem;
}
.menu-toggle{
  display: block;
}
.tab-buttons,.navlinks{
  display: none;
}
.gaming-console {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
}